
.buy-button {
    color: $color-orange;
    border-radius: 22.5px;
    font-size: 20px;
    line-height: 45px;
    width: 160px;
    height: 45px;
    margin: 10px 11.4px 0 11.4px;
    border: solid 2px $color-orange;
    

}
.section1 {
    padding: 34px 12px 51px 13px;
    font-family: $font-main;
    

    &__p1 {
        color: $color-orange;
        font-size: 14 px;
        margin: 0 103px 33px 0;

    }
    &__p2 {
        color: $color-grey;
        margin: 11px 0 51px 3px;
      

        
    }
    &__title {
        font-size: 24px;
        margin: 22px 0 11px;
    }
}