.footer {
    background-color: $color-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 68px;
    text-align: center;

        &__scroll {
            width: 45px;
            height: 45px;
            transform: translateY(-80px);
            background-color: white;
            border-radius: 50%;   
        }
            &__ul1 {
                list-style: none;
                line-height: 30px;
            }
            &__ul2 {
                list-style: none;
                padding-top: 30px;
                line-height: 30px;
            }

        }
    

li a{
    color: white;
    font-family: $font-main;
    text-decoration: none;
}
.copy {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 36px;
    
    
        p {
            color: white;
            font-family: 14px;
            padding: 5px;
        }
}

