header {
    height: 100vh;
   //background-image: url(/public/images/cover.jpeg);
   background-color:aquamarine;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   text-align: center;
   
        &--link {
           display: none;
        }
            
            
     
           
        }

   
   
    
h1 {
    font-size: 30px;
    font-family: $font-main;
    color: white;
    

}
.header__container p {
    color: white;
}
