.section2 {
    background-color: $color-white;
    padding-left: 66px;
    padding-right: 74px;
    display: grid;
    grid-template-rows: auto;



 


}
.section2 h2 {
    font-size: 20px;
    text-align: center;
    line-height: 1.67;
    
    

}
.ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;

        &__li {
            list-style: none;
        }
    

    
        &__li p {
            font-size: 18px;
            line-height: 1.67;
        }
    

}
h3 {
    font-size: 18px;
}

.start-button {
    color: white;
    background-color: $color-orange;
    border-radius: 22.5px;
    margin: auto;
    font-size: 20px;
    line-height: 45px;
    width: 184px;
    height: 45px;
    border: none;
    margin-bottom: 49px;

    


}
