<section class="section1">
    <article>
        <p class="section1__p1">Los sentimientos nos inspiran</p>
        <h2 class="section1__title">Conecta Contigo</h2>
        <p class="section1__p2">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
    </article>
    <div>
        <button class="buy-button">Comprar</button>
    </div>
</section>