<footer>
    <img src="/public/images/ico-arrow.svg" alt="icono arriba">
    <ul>
        <li>
            <a href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB" target="_blank">ZAPATILLAS

            </a>
        </li>
        <li>
            <a href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB" target="_blank">ROPA
                
            </a>
        </li>
        <li>
            <a href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB" target="_blank">NIÑO/A
                
            </a>
        </li>
        <li>
            <a href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB" target="_blank">DESTACADOS
                
            </a>
        </li>
        <li>
            <a href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB" target="_blank">TIPS
                
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB" target="_blank">TWITTER
                
            </a>
        </li>
        <li>
            <a href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB" target="_blank">INSTAGRAM
                
            </a>
        </li>
        <li>
            <a href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB" target="_blank">YOUTUBE
                
            </a>
        </li>
    </ul>
    <div>
        <p>@copy2023
        <p>we love run</p>

        </p>
    </div>
</footer>