<footer class="footer">
    <img src="./images/ico-arrow.svg" alt="icono arriba" class="footer__scroll" >
    <ul>
        <li class="list1">
            <a href="https://adalab.es/" target="_blank">ZAPATILLAS

            </a>
        </li>
        <li class="list1">
            <a href="https://adalab.es/" target="_blank">ROPA
               
            </a>
        </li>
        <li class="list1">
            <a href="https://adalab.es/" target="_blank">NIÑO/A
                
            </a>
        </li>
        <li class="list1">
            <a href="https://adalab.es/" target="_blank">DESTACADOS
                
            </a>
        </li>
        <li class="list1">
            <a href="https://adalab.es/" target="_blank">TIPS
                
            </a>
        </li>
    </ul>
    <ul>
        <li class="list2">
            <a href="https://adalab.es/" target="_blank">TWITTER
                
            </a>
        </li>
        <li class="list2">
            <a href="https://adalab.es/" target="_blank">INSTAGRAM
                
            </a>
        </li>
        <li class="list2">
            <a href="https://adalab.es/" target="_blank">YOUTUBE
                
            </a>
        </li>
    </ul>
    <div class="copy">
        <p>@copy2023</p>
        <p>we ❤️ run</p>

      
    </div>
</footer>