<header class="header">
    <div class="header__div">
        <a class="header__div--link" href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=B%C3%BAsqueda+Marca&utm_source=Google+Ads&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw-5y1BhC-ARIsAAM_oKkVeHMD8mK9_vasa5a5OWc-Q4UAwFb0F59-wRW0SuwHkOt_obPN7OEaAocIEALw_wcB"  target="_blank"><img src="/public/images/ico-menu.svg" alt="icono">
    </a>
</div>
    <h1>HASTA UN 50% DE DESCUENTO</h1>
    <p>Ya están aquí las oferta de fin de temporada</p>
    <img src="/public/images/ico-scroll-down.svg" alt="scroll">

</header>