<section>
    <h2>Año nuevo, movimientos nuevos</h2>
    <ul>
        <li>
            <h3>Entrenamientos</h3>
            <p>Sesiones de running y entrenamientos.</p>
        </li>
        <li>
            <h3>Cualquier nivel</h3>
            <p>Entrenamientos para cada nivel.</p>
        </li>
        <li>
            <h3>Exclusividad</h3>
            <p>Productos para miembros premium.</p>
        </li>
    </ul>
    <div>
      <button class="start-botton">Empezar ahora</button>  
    </div>
</section>