<section class="section2">
    <h2>Año nuevo, movimientos nuevos</h2>
    <ul class="ul">
        <li class="ul__li">
            <h3>Entrenamientos</h3>
            <p>Sesiones de running y entrenamientos.</p>
        </li>
        <li class="ul__li">
            <h3>Cualquier nivel</h3>
            <p>Entrenamientos para cada nivel.</p>
        </li>
        <li class="ul__li">
            <h3>Exclusividad</h3>
            <p>Productos para miembros premium.</p>
        </li>
    </ul>
      <button class="start-button">Empezar ahora</button>  

</section>